Repository streamnative/charts, pull requests merged in 2022-05, with the labels that each got.

#641 Add support for using new datadog check
  charts/pulsar/templates/broker/_broker.tpl
  charts/pulsar/templates/proxy/_proxy.tpl
  charts/sn-platform/templates/broker/_broker.tpl
  charts/sn-platform/templates/proxy/_proxy.tpl
Labels: no-need-doc

#650 Update operator version for support use pod ip as advertised address
  charts/pulsar-operator/Chart.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarbrokers.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarproxies.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/values.yaml
Labels: doc-info-missing, release-pulsar-operators-release/0.11.0

#651 indent the function mesh config
  charts/pulsar/templates/broker/function-worker-configfile-configmap.yaml
Labels: no-need-doc, release-pulsar/2.9.1

#602 [charts/sn-platform] Example Simplify Of Charts
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#619 [SN-Platform] Add sn-platform-stack.
  .github/workflows/sn-platform-stack.yml
  charts/sn-platform-stack/.helmignore
  charts/sn-platform-stack/Chart.yaml
  charts/sn-platform-stack/values.yaml
Labels: no-need-doc, planned-sn-platform-release/1.5

#658 feat: configure pulsarctl in toolset pod
  charts/sn-platform/templates/toolset/_toolset.tpl
  charts/sn-platform/templates/toolset/toolset-configmap.yaml
  charts/sn-platform/templates/toolset/toolset-statefulset.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#668 Update pulsar-operator crds for version v0.10.2
  charts/pulsar-operator/crds/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarbrokers.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarproxies.yaml
  charts/pulsar-operator/crds/zookeeper.streamnative.io_zookeeperclusters.yaml
Labels: no-need-doc

#663 [pulsar-operator] Add permissions to allow operators to update finalizers
  charts/pulsar-operator/templates/bookkeeper-operator/rbac.yaml
  charts/pulsar-operator/templates/pulsar-operator/rbac.yaml
  charts/pulsar-operator/templates/zookeeper-operator/rbac.yaml
Labels: no-need-doc, need-cherry-pick/1.4, release-sn-platform/1.4.2

#657 [charts/sn-platform] Convert some statefulsets to deployments (alert-manager, detector, presto)
  charts/sn-platform/templates/alert-manager/alertmanager-deployment.yaml
  charts/sn-platform/templates/alert-manager/alertmanager-service.yaml
  charts/sn-platform/templates/detector/pulsar-detector-deployment.yaml
  charts/sn-platform/templates/detector/pulsar-detector-service.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#676 [pulsar-operator] Add permissions to allow operators to update finalizers
  charts/pulsar-operator/templates/bookkeeper-operator/rbac.yaml
  charts/pulsar-operator/templates/pulsar-operator/rbac.yaml
  charts/pulsar-operator/templates/zookeeper-operator/rbac.yaml
Labels: doc-info-missing, need-cherry-pick/1.4, release-sn-platform/1.4.2

#673 [sn-platform] Fix security context for zk/bk/broker/proxy
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
Labels: no-need-doc, doc-info-missing, need-cherry-pick/1.4, release-sn-platform/1.4.2

#612 [sn-platform]feat: add support for vault TTL can be configured in values.yaml and update by helm hooks
  .gitignore
  charts/sn-platform/conf/vault/init_vault_streamnative_console/startup.sh
  charts/sn-platform/templates/vault/vault-initialize.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#646 [sn-platform] feat: make sn-platform deployment idempotent
  charts/sn-platform/templates/streamnative-console/streamnative-console-configmap.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-initialize.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#680 Support securityContext for vault/toolset/console
  charts/sn-platform/templates/streamnative-console/streamnative-console-initialize.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-statefulset.yaml
  charts/sn-platform/templates/toolset/toolset-statefulset.yaml
  charts/sn-platform/templates/vault/vault-initialize-public-key.yaml
  charts/sn-platform/templates/vault/vault-initialize.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, need-cherry-pick/1.4, release-sn-platform/1.4.2

#667 Check for condition when creating vault secret.
  charts/sn-platform/templates/vault/vault-public-key-secret.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#666 Fix sn-console generated pvc name.
  charts/sn-console/templates/console/streamnative-console-pvc.yaml
Labels: no-need-doc, release-sn-platform/1.5.0, release-sn-platform/1.4.2

#672 Fix the configmap filename of zookeeper backup
  charts/sn-platform/templates/zookeeper/zookeeper-backup-statefulset.yaml
Labels: no-need-doc, release-sn-platform/1.5.0, release-sn-platform/1.4.2

#674 Verify the sn-platform using lint with multiple profiles
  charts/sn-platform/ci/disable-monitoring-values.yaml
  charts/sn-platform/ci/disable-vault-values.yaml
  charts/sn-platform/ci/enable-istio-values.yaml
  charts/sn-platform/ci/enable-zookeeper-backup.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#683 [sn-platform]Fix Prometheus Scraping promblem with Istio enabled
  charts/sn-platform/templates/bookkeeper/bookkeeper-authorizationpolicy.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/prometheus/prometheus-configmap.yaml
  charts/sn-platform/templates/prometheus/prometheus-statefulset.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-authorizationpolicy.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#685 Fixed gcOptions check for jvmOptions
  charts/sn-platform/templates/_helpers.tpl
Labels: doc-info-missing

#688 Add a dedicated service account for the console
  charts/sn-platform/templates/streamnative-console/_streamnative-console.tpl
  charts/sn-platform/templates/streamnative-console/streamnative-console-initialize.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-service-account.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc

#686 Fixed cherry pick gcOptions fixed
  charts/sn-platform/templates/_helpers.tpl
Labels: no-need-doc

#692 cherry-pick: Add a dedicated service account for the console (#688)
  charts/sn-platform/templates/streamnative-console/_streamnative-console.tpl
  charts/sn-platform/templates/streamnative-console/streamnative-console-initialize.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-service-account.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: doc-info-missing

#691 Add a dedicated service account for the toolset
  charts/sn-platform/templates/toolset/_toolset.tpl
  charts/sn-platform/templates/toolset/toolset-serviceaccount.yaml
  charts/sn-platform/templates/toolset/toolset-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc

#644 [sn-platform] Add necessary config to use function-mesh worker service
  charts/pulsar-operator/values.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/broker/broker-role-binding.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#693 cherry-pick: #593 #689
  charts/sn-platform/templates/toolset/_toolset.tpl
  charts/sn-platform/templates/toolset/toolset-configmap.yaml
  charts/sn-platform/templates/toolset/toolset-serviceaccount.yaml
  charts/sn-platform/templates/toolset/toolset-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: doc-info-missing, release-sn-platform/1.4.2

#697 Support SecurityContextConstraints for deploying on OpenShift
  charts/sn-platform/templates/openshift/_openshift.tpl
  charts/sn-platform/templates/openshift/scc-role.yaml
  charts/sn-platform/templates/openshift/scc-rolebinding.yaml
  charts/sn-platform/templates/openshift/scc.yaml
  charts/sn-platform/values.yaml
Labels: doc-required

#699 fix: vault init job optimize, just exec on post-install
  charts/sn-platform/templates/vault/vault-initialize.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#675 [pulsar-operator] Support deploying operators with namespace-scoped permissions
  charts/pulsar-operator/templates/bookkeeper-operator/_helpers.tpl
  charts/pulsar-operator/templates/bookkeeper-operator/operator.yaml
  charts/pulsar-operator/templates/bookkeeper-operator/operator_rbac.yaml
  charts/pulsar-operator/templates/bookkeeper-operator/rbac.yaml
  charts/pulsar-operator/templates/bookkeeper-operator/service_account.yaml
  charts/pulsar-operator/templates/pulsar-operator/_helpers.tpl
  charts/pulsar-operator/templates/pulsar-operator/operator.yaml
  charts/pulsar-operator/templates/pulsar-operator/operator_rbac.yaml
  charts/pulsar-operator/templates/pulsar-operator/pulsar_broker_clusterrole.yaml
  charts/pulsar-operator/templates/pulsar-operator/rbac.yaml
  charts/pulsar-operator/templates/pulsar-operator/service_account.yaml
  charts/pulsar-operator/templates/zookeeper-operator/_helpers.tpl
  charts/pulsar-operator/templates/zookeeper-operator/operator.yaml
  charts/pulsar-operator/templates/zookeeper-operator/operator_rbac.yaml
  charts/pulsar-operator/templates/zookeeper-operator/rbac.yaml
  charts/pulsar-operator/templates/zookeeper-operator/service_account.yaml
  charts/pulsar-operator/values.yaml
Labels: doc-required, release-pulsar-operators-release/0.11.0

#690 [sn-platform]Integrate cert-manager with Istio Ingress Gateway
  charts/sn-platform/templates/tls/istio/_istio.tpl
  charts/sn-platform/templates/tls/istio/tls-cert-internal-issuer.yaml
  charts/sn-platform/templates/tls/istio/tls-cert-public-issuer.yaml
  charts/sn-platform/templates/tls/istio/tls-certs.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.5.0

#695 [Feat]Add description to crd.
  charts/pulsar-operator/crds/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarbrokers.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarproxies.yaml
  charts/pulsar-operator/crds/zookeeper.streamnative.io_zookeeperclusters.yaml
Labels: doc-info-missing, release-pulsar-operators-release/0.11.0

#702 Fix duplicate keys in proxy CM
  charts/pulsar/templates/proxy/proxy-configmap.yaml
Labels: doc-info-missing

#703 Remove groups from scc
  charts/sn-platform/templates/openshift/scc.yaml
Labels: no-need-doc, release-sn-platform/1.5.0, need-cherry-pick/1.4, release-sn-platform/1.4.2

#705 fix: add `ServiceAccount` to pulsar proxy
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
Labels: no-need-doc, need-cherry-pick/1.4, release-sn-platform/1.4.2

#706 cherry-pick: #705
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
Labels: doc-info-missing, release-sn-platform/1.4.2

#652 Expose mop on the istio gateway
  charts/sn-platform/templates/broker/broker-authorizationpolicy.yaml
Labels: doc-required, release-sn-platform/1.5.0

#664 Support pulsar jwt authentication for console
  charts/sn-console/templates/console/streamnative-console-statefulset.yaml
  charts/sn-console/templates/vault/vault-clear-resource.yaml
  charts/sn-console/values.yaml
Labels: doc-required, release-sn-platform/1.5.0

#656 Support forward grafana request by use console
  charts/pulsar-operator/values.yaml
  charts/sn-console/templates/console/streamnative-console-statefulset.yaml
  charts/sn-console/values.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.5.0

#710 allow configure function mesh service account
  charts/pulsar/templates/broker/function-worker-configfile-configmap.yaml
  charts/pulsar/values.yaml
Labels: doc-required

#713 [sn-platform]: bump snp images from 2.9.2.9 to 2.9.2.17
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#712 let broker mount bulitin connector configmap
  charts/pulsar/templates/broker/_broker.tpl
  charts/pulsar/templates/broker/broker-statefulset.yaml
  charts/pulsar/values.yaml
Labels: doc-required

#709 Support mounting additional volumes to broker.
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.5.1

#714 Fix ZooKeeperCluster storageClassName for dataLog.
  charts/sn-platform/templates/zookeeper/_zookeeper.tpl
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
Labels: no-need-doc, release-sn-platform/1.5.1, need-cherry-pick/1.5

#719 Support enable and disable connector flink sql on console
  charts/sn-console/templates/console/streamnative-console-statefulset.yaml
  charts/sn-console/values.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.5.1, need-cherry-pick/1.5

#723 fix an issue with a bad yaml file
  charts/pulsar/templates/broker/function-worker-configfile-configmap.yaml
Labels: doc-info-missing

#728 Update connector data, sync with cloud api server
  charts/sn-platform/conf/broker/connectors.yaml
Labels: doc-info-missing, release-sn-platform/1.5.1, need-cherry-pick/1.5
