Repository streamnative/charts, pull requests merged in 2022-06, with the labels that each got.

#729 [Feat] Support adding additional PVC to Pulsar Broker.
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.5.1

#717 [sn-platform] Broker TLS Improvement
  charts/sn-platform/templates/broker/_broker.tpl
  charts/sn-platform/templates/broker/broker-authorizationpolicy.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/tls/istio/tls-certs.yaml
  charts/sn-platform/templates/tls/tls-certs-internal.yaml
  charts/sn-platform/templates/tls/tls-certs-public.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.5.1, need-cherry-pick/1.5

#732 Upgrade pulsar-operator to v0.11.1
  charts/pulsar-operator/Chart.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarbrokers.yaml
  charts/pulsar-operator/values.yaml
Labels: no-need-doc

#738 [sn-platform]Fix broker AuthorizationPolicy template
  charts/sn-platform/templates/broker/broker-authorizationpolicy.yaml
Labels: no-need-doc

#740 Update Vault init job.
  charts/sn-platform-vault/templates/_vault.tpl
  charts/sn-platform-vault/templates/vault-initialize.yaml
Labels: no-need-doc

#751 Default enable wal compression, for avoid prometheus oom
  charts/sn-platform/templates/prometheus/prometheus-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: doc-info-missing, release-sn-platform/1.6.0

#748 [sn-platform]Support broker generic tls
  charts/sn-platform/templates/broker/_broker.tpl
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/detector/_detector.tpl
  charts/sn-platform/templates/streamnative-console/streamnative-console-initialize.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-statefulset.yaml
  charts/sn-platform/templates/tls/tls-certs-internal.yaml
Labels: doc-required, release-sn-platform/1.6.0

#743 Simplify vault component name.
  charts/sn-platform-common/templates/_commmon.tpl
  charts/sn-platform-vault/templates/_vault.tpl
  charts/sn-platform-vault/templates/vault-authorizationpolicy.yaml
  charts/sn-platform-vault/templates/vault-clear-resource.yaml
  charts/sn-platform-vault/templates/vault-configmap.yaml
  charts/sn-platform-vault/templates/vault-initialize-public-key.yaml
  charts/sn-platform-vault/templates/vault-initialize.yaml
  charts/sn-platform-vault/templates/vault-public-key-secret.yaml
  charts/sn-platform-vault/templates/vault.yaml
  charts/sn-platform-vault/values.yaml
Labels: no-need-doc, planned-sn-platform-release/1.6, release-sn-platform/1.6.0

#757 fix(sn-platform): upgrade images version to fix vulnerabilities
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.0

#750 change the metric name to match
  charts/pulsar/templates/broker/_broker.tpl
Labels: no-need-doc

#736 fix(sn-platform): remove legacy configs of imagePuller
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.0

#742 [sn-platform] Fix prometheus scrape failed in Istio mode
  charts/sn-platform/templates/_helpers.tpl
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/detector/pulsar-detector-authorizationpolicy.yaml
  charts/sn-platform/templates/detector/pulsar-detector-deployment.yaml
  charts/sn-platform/templates/function-worker/function-worker-statefulset.yaml
  charts/sn-platform/templates/istio/default-peerauthentication.yaml
  charts/sn-platform/templates/node-exporter/node-exporter.yaml
  charts/sn-platform/templates/presto/presto-coordinator-statefulset.yaml
  charts/sn-platform/templates/presto/presto-worker-statefulset.yaml
  charts/sn-platform/templates/prometheus/prometheus-configmap.yaml
  charts/sn-platform/templates/vault/vault-statefulset.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
Labels: no-need-doc, release-sn-platform/1.6.0, release-sn-platform/1.5.2

#753 Remove components.aop from manifests
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.0

#749 fix: remove helm hook in sn-platform chart about vault and console
  charts/sn-platform/templates/streamnative-console/streamnative-console-initialize.yaml
  charts/sn-platform/templates/vault/vault-initialize.yaml
Labels: no-need-doc, release-sn-platform/1.6.0

#747 feat: add probe timeout configuration for zookeeper statefulsets in streamnative/pulsar chart
  charts/pulsar/templates/zookeeper/zookeeper-statefulset.yaml
  charts/pulsar/values.yaml
Labels: no-need-doc

#766 [pulsar-operator] upgrade operators
  charts/pulsar-operator/Chart.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarbrokers.yaml
  charts/pulsar-operator/templates/pulsar-operator/operator.yaml
  charts/pulsar-operator/values.yaml
Labels: doc-required, release-pulsar-operators-release/0.11.5

#764 Fix sn-platform-stack basic template action failure
  .github/workflows/sn-platform-stack.yml
  .github/workflows/sn-platform-vault.yml
  charts/sn-platform-stack/Chart.yaml
Labels: no-need-doc

#737 fix(sn-platform): remove legacy image configs for configmapReload
  charts/sn-platform/templates/prometheus/prometheus-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.0

#755 Support custom configs for Presto coordinator and worker
  charts/sn-platform/templates/presto/presto-coordinator-configmap.yaml
  charts/sn-platform/templates/presto/presto-worker-configmap.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.6.0

#769 fix(sn-platform): Prometheus configmap template issue
  charts/sn-platform/templates/prometheus/prometheus-configmap.yaml
Labels: no-need-doc, need-cherry-pick/1.5, release-sn-platform/1.6.0, release-sn-platform/1.5.2

#771 [Feat][Pulsar] Allow customizing Proxy ingress svc https port.
  charts/pulsar/templates/proxy/proxy-service-ingress.yaml
  charts/pulsar/values.yaml
Labels: doc-required

#770 Support openshift reuse an existing SCC
  charts/sn-platform/templates/openshift/_openshift.tpl
  charts/sn-platform/templates/openshift/scc-role.yaml
  charts/sn-platform/templates/openshift/scc-rolebinding.yaml
  charts/sn-platform/templates/openshift/scc.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.6.0

#778 Update Proxy service port mapping.
  charts/pulsar/templates/proxy/proxy-service.yaml
  charts/pulsar/values.yaml
Labels: no-need-doc

#777 Update readme for pulsar-operator chart.
  charts/pulsar-operator/README.md
Labels: doc-info-missing, planned-sn-platform-release/1.6

#780 Remove flink sql flag from chart
  charts/sn-console/templates/console/streamnative-console-statefulset.yaml
  charts/sn-platform/templates/streamnative-console/streamnative-console-statefulset.yaml
Labels: release-sn-platform/1.6.0, release-sn-platform/1.5.4
