Repository streamnative/charts, pull requests merged in 2022-04, with the labels that each got.

#580 [sn-platform] support extra secretRefs and variables for proxy and broker
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, need-cherry-pick/1.3, release/1.3.1

#574 Disable JKS keystore creation if kop is not enabled
  charts/sn-platform/templates/tls/tls-certs-internal.yaml
  charts/sn-platform/templates/tls/tls-certs-public.yaml
Labels: no-need-doc, need-cherry-pick/1.3, release/1.4.0, release/1.3.1

#582 Fixed broker cluster vars
  charts/sn-platform/templates/broker/broker-cluster.yaml
Labels: doc-info-missing, need-cherry-pick/1.3, release/1.3.1

#530 [charts/sn-pulsar] Change the pulsar detector image to sn-platform
  charts/pulsar/values.yaml
Labels: no-need-doc

#581 Fix affinity rule.
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
Labels: no-need-doc, need-cherry-pick/1.3, release/1.3.1

#587 release: bump sn-platform chart to 1.3.1
  charts/sn-platform/Chart.yaml
Labels: no-need-doc, release/1.3.1

#588 Revert "release: bump sn-platform chart to 1.3.1"
  charts/sn-platform/Chart.yaml
Labels: doc-info-missing

#585 Add release workflow document
  README.md
Labels: no-need-doc

#595 Update pulsar operator crds.
  charts/pulsar-operator/crds/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarbrokers.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarproxies.yaml
  charts/pulsar-operator/crds/zookeeper.streamnative.io_zookeeperclusters.yaml
Labels: no-need-doc

#594 Fixed secretRefs check
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
Labels: no-need-doc

#600 Update sn platform console image
  charts/sn-console/values.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.4.0

#597 Add numVolumes and numDirsPerVolume for helm
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.4.0

#604 Remove manifests that deploy Pulsar cluster using pure k8s resources.
  charts/sn-platform/templates/bookkeeper/_bookkeeper.tpl
  charts/sn-platform/templates/bookkeeper/bookkeeper-autorecovery-configmap.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-autorecovery-service.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-autorecovery-statefulset.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster-initialize.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-configmap.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-pdb.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-service.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-statefulset.yaml
  charts/sn-platform/templates/broker/_broker.tpl
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/broker/broker-configmap-functionmesh.yaml
  charts/sn-platform/templates/broker/broker-configmap.yaml
  charts/sn-platform/templates/broker/broker-pdb.yaml
  charts/sn-platform/templates/broker/broker-service-ingress.yaml
  charts/sn-platform/templates/broker/broker-service.yaml
  charts/sn-platform/templates/broker/broker-statefulset.yaml
  charts/sn-platform/templates/proxy/_proxy.tpl
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-configmap.yaml
  charts/sn-platform/templates/proxy/proxy-pdb.yaml
  charts/sn-platform/templates/proxy/proxy-service-ingress.yaml
  charts/sn-platform/templates/proxy/proxy-service.yaml
  charts/sn-platform/templates/proxy/proxy-statefulset.yaml
  charts/sn-platform/templates/proxy/websocket-configmap.yaml
  charts/sn-platform/templates/pulsar-cluster-initialize.yaml
  charts/sn-platform/templates/zookeeper/_zookeeper.tpl
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-configmap.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-pdb.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-service.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.4.0

#616 Support custom config data for bookkeeper
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
Labels: no-need-doc, release-sn-platform/1.4.0

#625 Fixed vault container spec missing name field
  charts/sn-platform/templates/vault/vault-statefulset.yaml
Labels: no-need-doc, planned-sn-platform-release/1.4

#628 Support config node selector for zk
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
Labels: no-need-doc, release-sn-platform/1.4.0

#624 [sn-platform] Add support for mop
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.4.0

#622 [sn-platform] fix: metadata of vault-initialize
  charts/sn-platform/templates/vault/vault-initialize.yaml
Labels: no-need-doc, release-sn-platform/1.4.0

#626 [charts/sn-platform] Add unified JVM options
  charts/sn-platform/templates/_helpers.tpl
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
  charts/sn-platform/values.yaml
Labels: doc-required, release-sn-platform/1.4.0

#609 [SN-Platform] Support using custom cert via mounting custom cert secret.
  charts/sn-platform/templates/_helpers.tpl
  charts/sn-platform/templates/bookkeeper/_autorecovery.tpl
  charts/sn-platform/templates/bookkeeper/_bookkeeper.tpl
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/broker/_broker.tpl
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/control-center/control-center-ingress.yaml
  charts/sn-platform/templates/function-worker/_function_worker.tpl
  charts/sn-platform/templates/presto/_presto.tpl
  charts/sn-platform/templates/presto/presto-coordinator-statefulset.yaml
  charts/sn-platform/templates/presto/presto-worker-statefulset.yaml
  charts/sn-platform/templates/proxy/_proxy.tpl
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/templates/toolset/_toolset.tpl
  charts/sn-platform/templates/zookeeper/_zookeeper.tpl
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.4.0

#613 [pulsar]: upgrade components images in pulsar chart
  charts/pulsar/values.yaml
Labels: no-need-doc, release-pulsar/2.9.0

#636 add function mesh teamples
  charts/pulsar/templates/broker/broker-cluster-role-binding.yaml
  charts/pulsar/templates/broker/broker-configmap.yaml
  charts/pulsar/templates/broker/function-mesh-configmap.yaml
  charts/pulsar/templates/broker/function-worker-configfile-configmap.yaml
  charts/pulsar/values.yaml
Labels: doc-required, release-pulsar/2.9.0

#607 [Pulsar] Support using custom cert via mounting custom cert secret.
  charts/pulsar/templates/_helpers.tpl
  charts/pulsar/templates/bookkeeper/_autorecovery.tpl
  charts/pulsar/templates/bookkeeper/_bookkeeper.tpl
  charts/pulsar/templates/broker/_broker.tpl
  charts/pulsar/templates/function-worker/_function_worker.tpl
  charts/pulsar/templates/presto/_presto.tpl
  charts/pulsar/templates/presto/presto-coordinator-statefulset.yaml
  charts/pulsar/templates/presto/presto-worker-statefulset.yaml
  charts/pulsar/templates/proxy/_proxy.tpl
  charts/pulsar/templates/pulsar-manager/_pulsar_manager.tpl
  charts/pulsar/templates/toolset/_toolset.tpl
  charts/pulsar/templates/zookeeper/_zookeeper.tpl
  charts/pulsar/values.yaml
Labels: no-need-doc, release-pulsar/2.9.0

#643 [SN-Platform] make reclaimPolicy of zk/bk configurable
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#579 [charts/pulsar] [charts/sn-platform] remove duplicate proxy configmap keys
  charts/pulsar/templates/proxy/proxy-configmap.yaml
Labels: no-need-doc, need-cherry-pick/1.3, release-pulsar/2.9.0

#639 Use template pulsar.zookeeper.connect for detector zk initContainer.
  charts/sn-platform/templates/detector/pulsar-detector-statefulset.yaml
Labels: no-need-doc, release-sn-platform/1.5.0

#647 fix(sn-platform): set readinessProbe in bankVaults default as null
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.5.0, need-cherry-pick/1.4
