Repository streamnative/charts, pull requests merged in 2022-10, with the labels that each got.

#869 fix(sn-platform): change the recovery default resource size
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.3

#879 [sn-platform] Add default value for external_domain_scheme
  charts/sn-platform/values.yaml
Labels: no-need-doc

#878 [sn-platform] Fix zookeeper backup sts template
  charts/sn-platform/templates/function-worker/function-worker-statefulset.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-backup-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.3

#866 [sn-platform] Support customizating operator managed resources
  charts/pulsar-operator/Chart.yaml
  charts/pulsar-operator/crds/bookkeeper.streamnative.io_bookkeeperclusters.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarbrokers.yaml
  charts/pulsar-operator/crds/pulsar.streamnative.io_pulsarproxies.yaml
  charts/pulsar-operator/crds/zookeeper.streamnative.io_zookeeperclusters.yaml
  charts/pulsar-operator/templates/bookkeeper-operator/rbac.yaml
  charts/pulsar-operator/templates/pulsar-operator/rbac.yaml
  charts/pulsar-operator/templates/zookeeper-operator/rbac.yaml
  charts/pulsar-operator/values.yaml
  charts/sn-platform/templates/bookkeeper/bookkeeper-cluster.yaml
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/templates/zookeeper/zookeeper-cluster.yaml
Labels: doc-required

#864 [sn-platform] Export Presto metrics with JMX exporter
  charts/sn-platform/templates/presto/presto-authrozationpolicy.yaml
  charts/sn-platform/templates/presto/presto-coordinator-configmap.yaml
  charts/sn-platform/templates/presto/presto-coordinator-statefulset.yaml
  charts/sn-platform/templates/presto/presto-jmx-exporter-configmap.yaml
  charts/sn-platform/templates/presto/presto-worker-configmap.yaml
  charts/sn-platform/templates/presto/presto-worker-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.3

#881 upgrade console default image to v1.14.1
  charts/sn-console/values.yaml
  charts/sn-platform/values.yaml
Labels: doc-info-missing, release-sn-platform/1.6.3

#875 feat(sn-platform): Add labels and missing missing configs for Vault
  charts/sn-platform/templates/vault/vault-clear-resource.yaml
  charts/sn-platform/templates/vault/vault-initialize-public-key.yaml
  charts/sn-platform/templates/vault/vault-initialize.yaml
  charts/sn-platform/templates/vault/vault-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.3

#865 Add some sn-platform usage examples related to zk
  examples/sn-platform/external-zk.yaml
  examples/sn-platform/zk-dynamic-reconfig.yaml
Labels: no-need-doc

#883 Fix chart-testing(upgrade) job
  .github/workflows/pulsar_upgrade.yml
Labels: no-need-doc

#877 [sn-platform] Presto support tls authentication
  charts/sn-platform/templates/presto/_presto.tpl
  charts/sn-platform/templates/presto/presto-authrozationpolicy.yaml
  charts/sn-platform/templates/presto/presto-coordinator-configmap.yaml
  charts/sn-platform/templates/presto/presto-coordinator-statefulset.yaml
  charts/sn-platform/templates/presto/presto-serviceentry.yaml
  charts/sn-platform/templates/presto/presto-worker-configmap.yaml
  charts/sn-platform/templates/presto/presto-worker-statefulset.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.6.3

#858 [pulsar] Upgrade ingress api to `networking.k8s.io/v1`
  .ci/helm.sh
  .github/workflows/pulsar.yml
  charts/pulsar/Chart.yaml
  charts/pulsar/templates/control-center/control-center-ingress.yaml
  charts/pulsar/templates/control-center/ingress-controller-deployment.yaml
  charts/pulsar/templates/control-center/ingress-controller-rbac.yaml
  charts/pulsar/values.yaml
  hack/common.sh
Labels: no-need-doc

#885 [sn-platform] Fix helm error in lint-test jobs
  .github/workflows/sn-platform-detector.yml
  .github/workflows/sn-platform-stack.yml
  .github/workflows/sn-platform-vault.yml
  .github/workflows/sn-platform.yml
Labels: no-need-doc

#886 [charts] Add Debezium MS SQL Server source connector
  charts/sn-platform/conf/broker/connectors.yaml
Labels: no-need-doc, release-sn-platform/1.7.0

#873 feat(sn-platform): convert presto from sts to deployment
  charts/sn-platform/templates/presto/presto-coordinator-deployment.yaml
  charts/sn-platform/templates/presto/presto-serviceentry.yaml
  charts/sn-platform/templates/presto/presto-worker-configmap.yaml
  charts/sn-platform/templates/presto/presto-worker-deployment.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.7.0

#809 Reorganize auth module
  charts/sn-platform/templates/_helpers.tpl
  charts/sn-platform/templates/broker/broker-cluster.yaml
  charts/sn-platform/templates/proxy/proxy-cluster.yaml
  charts/sn-platform/values.yaml
Labels: no-need-doc, release-sn-platform/1.7.0
